@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Phillips Brand Colors */
  --red:     #F9423A;
  --blue:    #00AEEF;
  --gold:    #F68B33;
  --black:   #000000;
  --maroon:  #3F0017;
  --grey:    #647883;
  --light:   #D7DFE3;
  --bg:      #F2F4F6;

  /* Typography */
  --font-display: 'Barlow Condensed', sans-serif;
  --font-body:    'Montserrat', sans-serif;
}
